{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block breadcrumb %}
    {{
    macros.breadcrumbs([
    {
    'icon': 'fa fa-cog',
    'name': 'administration'|trans({}, 'platform'),
    'href': path('claro_admin_index')
    },
    {
    'name': 'Gestion école',
    'href': path('laurentAdminSchoolMenu')
    },
    {
    'name': 'Import',
    'href': ''
    }
    ])
    }}

{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">Importer des {{ titre }}</h3>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal" action="{{ action }}" method="post" {{ form_enctype(form) }} >
            {{ form(form) }}
        </form>
    </div>
    <div class="panel-footer">
        {% if messages %}
            {% for message in messages %}
                {{ message|raw }} <br />
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}