<div class="row" style="text-align: center">
    <div class="col-md-4"><a href="{{ path('laurentAdminSchoolCS') }}"><i class="fa fa-calendar fa-5x fa-border"></i><br /> Journal de classe [CS]</a></div>
    <div class="col-md-4"><a href="{{ path('laurentAdminSchoolCS') }}"><i class="fa fa-pencil-square-o fa-5x fa-border"></i><br /> Carnet de notes [CS]</a></div>
    <div class="col-md-4"><a href="{{ path('laurentAdminSchoolCS') }}"><i class="fa fa-users fa-5x fa-border "></i><br /> Présences [CS]</a></div>
</div>
<div class="row" style="text-align: center; margin-top: 20px;">
    <div class="col-md-4"><a href="{{ path('laurentAdminSchoolCS') }}"><i class="fa fa-book fa-5x fa-border"></i><br /> P.I.A.s [CS]</a></div>
    <div class="col-md-4"><a href="{{ path('laurentSchoolPlanMatiereList') }}"><i class="fa fa-sitemap fa-5x fa-border"></i><br /> Plan de matière [CS]</a></div>
    <div class="col-md-4"><a href="{{ path('laurentAdminSchoolCS') }}"><i class="fa fa-bar-chart-o fa-5x fa-border"></i><br /> Bulletins [CS]</a></div>
</div>